---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Cart</h1>

  <!-- {<p>Cart is empty</p>} -->

  <ul class="cart-list">
    <!-- "_TODO_" -->
  </ul>

  <div class="flex-sm flex-wrap">
    <button id="delete-cart-btn" class="btn warning">Remove All</button>
    <a href="/checkout" class="btn">Checkout</a>
  </div>
</BaseLayout>
