---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    id="checkout"
    class="checkout-container"
    data-stripe-key={"_STRIPE_PUBLIC_KEY_"}
    data-client-secret={"_STRIPE_CLIENT_SECRET_"}
  >
  </div>
</BaseLayout>
