---
const res = await fetch("https://jsonplaceholder.typicode.com/todos/1");
const data = await res.json();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>{data.title}</body>
</html>
