---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const products = await getCollection("products");
console.log("🚀 ~ products:", products);
---

<BaseLayout>
  <h1>Astro Pin Products</h1>
  <ul class="product-list">
    <!-- PRODUCT LIST -->
  </ul>
</BaseLayout>
