---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="success">
    <h1>Thank you for your purchase, {"_NAME_"}!</h1>
    <p>We've sent a receipt to {"_EMAIL_"}.</p>
    <a href="/" class="btn">Go home</a>
  </div>
</BaseLayout>
