---
import type { FinalCartItem } from "@/lib/cart";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

type Props = {
  cartItem: FinalCartItem;
};

const { cartItem } = Astro.props;
---

<li class="cart-item">
  <Image
    src="https://placehold.co/150x150"
    alt={"_TODO_"}
    height={150}
    width={150}
  />
  <div class="grid-xs">
    <p>{"_PRICE_"}</p>
    <h2>{"_NAME_"}</h2>
    <div class="cart-button-wrapper">
      <button
        class="btn cart"
        data-cart
        data-action="decrement"
        data-productid={"_PRODUCT_ID_"}
        aria-label={`Remove one ${"_NAME_"} to cart`}
      >
        <Icon name="minus" width="16" height="16" />
      </button>
      <p data-quantity data-productId={"_PRODUCT_ID_"}>{"_QUANTITY_"}</p>
      <button
        class="btn cart"
        data-cart
        data-action="increment"
        data-productid={"_PRODUCT_ID_"}
        aria-label={`Add one ${"_NAME_"} to cart`}
      >
        <Icon name="plus" width="16" height="16" />
      </button>
    </div>
  </div>
</li>
