---
const { href } = Astro.props;
console.log("hi from server");
---

<a href={href} class="text-5xl">
  <slot />
</a>

<style>
  a {
    color: red;
  }
</style>

<script>
  console.log("hi from client");
</script>
