---
// components
import Nav from "@/components/Nav.astro";
import BaseHead from "./BaseHead.astro";

// styles
import "@/styles/global.css";
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <Nav />
    <main class="container">
      <slot />
    </main>
  </body>
</html>
